 <!-- <body>
    <h3>Welcome to {{title}},{{tagline}} </h3>
  </body> -->
<header class="header">
  <nav class="top-nav">
    <div class="ekart--header--nav">
        <top-menu></top-menu>
      </div>
  </nav>
  <nav class="navbar">
    <div class="logo">
      <fa-icon [icon]="icons.shoe"></fa-icon>
      Ekart
    </div>
    <div class="right-section">
      <main-menu></main-menu>
      <button class="cart-btn" routerLink="/cart">
        <div class="cart-icon-wrapper">
          <fa-icon [icon]="icons.cart"></fa-icon>
          <span class="cart-badge" *ngIf="cartCount > 0">{{ cartCount }}</span>
        </div>
      </button>
      <button class="login-btn">
        <fa-icon [icon]="icons.user"></fa-icon>
        Login
      </button>
    </div>
  </nav>
</header>
